body {
	font-family: Helvetica;
	margin: 10px 30px;
}

/*
	Nav Bar
*/

.nav {
	display: flex;
	justify-content: center;
	list-style: none;	
	height: 60px;
}

.nav li {
	margin: 5px 10px;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 2px;
	border-bottom: 1px solid Plum;
	transition: 0.2s;
}

.nav li a {
	text-decoration: none;
	color: Plum;
}

.nav li:hover {
	transform: translateY(-5px);
	border-bottom: 10px solid Plum;
}

/*
	Footer
*/

.copyright {
	text-align: center;
}

/*
	Quotes
*/

.quote {
	position: relative;
	width: 500px;
}

.delete-button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

input.ng-invalid {
	border: 1px solid Crimson;
}

input.ng-valid {
	border: 1px solid LimeGreen;
}

input.ng-pristine {
	border: 1px solid #aaa;
}